
#currList1 , #currList2 {
    width: 100px;
    height: 30px;
    color: rgba(128, 128, 128, 0.783); 
}


#currList1.has-value  , #currList2.has-value {
    color: black;
}

div{
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}

@media (max-width: 600px) {
  
    div{
        transform: scale(1.001);
    }
}
